@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul,li{list-style: none;}
body{
    background-color: #fff;
    color: #333; /* 기본텍스트 컬러 */
    font-size: 14px;
    font-family: "돋움";
    /* 주조색: #e31a40 */
}

#wrap{}

.header{}
.head_inner{}
.logo{}
.logo a{}
.logo a img{}
.slide_img{
    width: 100%;
    height: 350px;
}
.move{}
